/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.canvas-list{
  list-style-type: none;
}

.canvas-list li {
  display: block;
  margin-bottom: 10px;
  /* margin-right: 5px */
}

.square {
  display: block;
  height: 100px;
  width: 100%;
  background: darkslateblue;
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 60px;
}

.contributer-square {
  width: 100%;
  background-color: darkslateblue;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  line-height: 45px;
}

.contributer-add {
  width: 100%;
  margin-top: 10px;
  border: none;
  background-color: deeppink;
  color: white;
  padding: 5px;
}
